In [1]:
print("This is my first python program")

This is my first python program

In [2]:
#this is used for single line comment
"""this is 
used for 
multiple line comment"""

'this is \nused for \nmultiple line comment'

In [23]:
# Data Types

# 1) int    - Integers (1,2,3,4,5,...)
# 2) Float  - Decimal numbers(1.2,3.6,4.5,....)
# 3) String - Alphabets (a,b,c..) dclared in ""

a = 10
print(type(a))
b = 5.5
print(type(b))
c = "Atharva"
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [34]:
# User Input
# Only input takes values as String and int(input()) takes values as integer

a = input("Enter a integer ")
print("Entered number is ",a)

Enter a integer 123
Entered number is  123

In [33]:
print(type(a))

<class 'str'>

In [38]:
print("ENter 1st Number : ")
a = int(input())
print("Enter 2nd Number : ")
b = int(input())
sum = a + b
print("Sum is :",sum)

ENter 1st Number :
10
Enter 2nd Number :
20
Sum is : 30

## String Slicing

In [40]:
str = "Atharva"

print(str[4])
print(str[0:6])        # upper limit is excluded
print(str[0:7:2])      # Here last index is skip index value 2 means skip by 1
print(str[-5:-3])      # Negative slicing counts the index from backside of the string and it starts with 1,2,3,..

r
Atharv
Ahra
ha

## String Functions

In [55]:
mystr = "Atharva is in Indira college"

print(mystr.__len__())                #Returns the length of the string
print(mystr.lower())                  #Returns all characters in lower case
print(mystr.upper())                  #Returns all characters in upper case
print(mystr.capitalize())             #Returns the charachter at 1st place into upper case
print(mystr.count("i"))               #Returns how many times a specific charachter has occured
print(mystr.endswith("e"))            #Returns true if the string is ending with the specific character
print(mystr.isalnum())                #Returns true if the string is alphnumerical
print(mystr.isalpha())                #Returns true if strings contains only alphabets spaces are also counted as characters so the string mystr is not alphabetical
print(mystr.isdecimal())              #Returns true if all characters in the string are decimal(0-9)
print(mystr.isdigit())                #Returns True if all characters in the string are digits
print(mystr.replace('is','studies'))  #Replaces the 1st word in the bracket with second

28
atharva is in indira college
ATHARVA IS IN INDIRA COLLEGE
Atharva is in indira college
3
True
False
False
False
False
Atharva studies in Indira college

## Data Structures

In [56]:
# In time complexity order of n  always ignores constant number
# like if we use 2 for loops
# for():      #Its order of n is O(n)

# for():      #Similarly For this for O(n)

# Then total is o(n)+o(n)=2[O(n)] Then here 2 will be ingnore 
#And for nested for loop the time complexicity will be O(n^2)

# 1) list 2)Tuple 3) Dictionary 4) Set



# Big O notation: It is used to measure how running time or space requirements for your program grow as input size grows
# As the input size grows the run time grows

## 1) Lists

In [57]:
#Lists are used to store multiple items in a single variable
# Python list are containers used to store a list of values of any data type.
# Lists can cotain various types of data types lie int,float, str etc...
# VIMP : They are ordered/indexing and they are mutable/changeable and it also allows Duplicate values

list1 = ['Atharva',500.50,1000]
list1

['Atharva', 500.5, 1000]

In [67]:
#List Operations

l1 = [1,2,6,5,3,20,65,80,45,36]
print(l1)

l1.sort()                    #Returns the list variables in ascending order(only when all list variables are integer)
print(l1)
l1.reverse()                 #Returns the reverse of list
print(l1)
print(min(l1))               #Returns the lowest value in the list
print(max(l1))               #Returns the highest value ini the list

list1 = [1,2,3,4,5,6]
list1.append(7)              #Adds the number in the last 
print(list1)
list1.insert(8,8)            #It will insert the number to the following index(index,number)
print(list1)
list1.remove(8)              #Removes the certain elements
print(list1)
list1.pop(6)                 #Pops the number present in the index
print(list1)
list1.count(4)

l2 = [3,4,7,8,606,70]
print(7 in l2)  
# Here the output is TRUE means it is searching for value 7 in l2 list

[1, 2, 6, 5, 3, 20, 65, 80, 45, 36]
[1, 2, 3, 5, 6, 20, 36, 45, 65, 80]
[80, 65, 45, 36, 20, 6, 5, 3, 2, 1]
1
80
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6]
True

## 2) Tuples

In [78]:
# Tuple: ordered,allow duplicate value,It is not changeble/immmutable 
# It is denoted by ()
# Mutable means(can change ) and Immutable means(cannot change )
# Tuple once defined can’t be changed i.e. its elements or values can’t be altered or manipulated.

t1=(2,4,6,8)
t1
t2 =(2) 
t2
t3 = (2,)       # To create the tuple of 1 element it is necesary to put comma after one element otherwise it does not consider as tupple
t3

(2,)

## 3) Dictionary

In [81]:
# Dictionaries :- They are ordered, changeable and does  not allow duplicates and denoted by {}
# Dictionaries are made on Key - Value Pairs
d1 = {"a":5,"b":10}
print(d1)

#Dictionary in dictionary example
d3 = {"Shubham":{"B":"maggie", "L":"roti", "D":"Chicken"}}
print(d3["Shubham"])
print(d3["Shubham"]['B'])

d2 = {"Jack":"Dog","Kitu":"Kitten"}
print(d2)

#To delete item from the lis or dictionary
del d2["Kitu"]
print(d2)

#TO add the item in the dictionary
d2.update({"Bob":"JermanShefard"})
print(d2)


print(d2.keys())
print(d2.values())

{'a': 5, 'b': 10}
{'B': 'maggie', 'L': 'roti', 'D': 'Chicken'}
maggie
{'Jack': 'Dog', 'Kitu': 'Kitten'}
{'Jack': 'Dog'}
{'Jack': 'Dog', 'Bob': 'JermanShefard'}
dict_keys(['Jack', 'Bob'])
dict_values(['Dog', 'JermanShefard'])

## 4) Sets

In [82]:
# A set is a data structure, having unordered, unique, and unindexed elements.”
s = set()
print(type(s))

<class 'set'>

In [83]:
s1 = set([2,4,6,8])
print(s1)

s1.add(1)
print(s1)

s1.add(2)
print(s1)

# Hence in Sets....repetation of the elements are not allowed

print(len(s1))
print(min(s1))
print(max(s1))
s1.remove(2)
print(s1)

{8, 2, 4, 6}
{1, 2, 4, 6, 8}
{1, 2, 4, 6, 8}
5
1
8
{1, 4, 6, 8}

## Conditions

In [1]:
a = int(input("Enter a Number : "))
b = int(input("Enter another Number : "))

if a < b:
    print("b is greater")
elif a > b:
    print("a is greater")
else:
    print("Both are equal")

Enter a Number : 20
Enter another Number : 20
Both are equal

## Loops

In [3]:
# 1) While 

a = 1
b = 10

while a < b :
    print(a)
    a += 1
else : 
    print("If Aryabhat didn't existed")

1
2
3
4
5
6
7
8
9
If Aryabhat didn't existed

In [7]:
# 1) For loop

list = [10,20,30,40,50,60]
for i in list :
    print(i)
    
for i in range(0,3):
    if i <= 2:
        print("This is the 3rd value")
print("Hello")

10
20
30
40
50
60
This is the 3rd value
This is the 3rd value
This is the 3rd value
Hello

In [8]:
# Writing if else in one statement
a = int(input("Enter a\n"))
b = int(input("Enter b\n"))

print("a is greater than b") if a>b else print("b is greater than a")

Enter a
5
Enter b
3
a is greater than b

In [9]:
s = "atharva"
ss = ""

for i in range(len(s)):
    if s[i] == "a" :
        continue
    else :
        ss = ss + s[i]

In [10]:
ss

'thrv'

In [19]:
for i in range(0 ,7):
    for j in range(0 ,i-1):
        print("* " , end = "")
    print("\r")

*
* *
* * *
* * * *
* * * * *

In [46]:
for i in range(6,0,-1):
    for j in range(0,i-1):
        print(" *",end=" ")
    print("\r")

 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *
 *

In [54]:
for i in range(0,6):
    for j in range(,0,-1):
        print(" *",end="")
    print("\r")

 * * * * * *
 * * * * *
 * * * *
 * * *
 * *
 *

In [42]:
for i in range(0,6):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******

In [5]:
n = int(input())

for i in range(n,0,-1):
    for j in range(n-i):
        print(' ', end='')
    for j in range(2*i-1):
        print('*',end='')
    print()

7
*************
 ***********
  *********
   *******
    *****
     ***
      *

In [6]:
num = int(input())
m = 2 * num - 2
for i in range(num ,-1, -1):
    for j in range(m,0,-1):
        print(end=" ")
    m = m + 1
    for j in range(0, i + 1):
        print("*",end=" ")
    print()

7
            * * * * * * * *
             * * * * * * *
              * * * * * *
               * * * * *
                * * * *
                 * * *
                  * *
                   *

In [7]:
n = 9
i = 0
while i < n:
    print(" "*(n-i-1) + '* '*(i+1))
    i += 1

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *
* * * * * * * * *